<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
				http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>V2IAC1-14 sample application</display-name>

	<listener>
		<listener-class>nl.hu.v2iac1.servlet.ContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>V2IAC1-14 Web Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>nl.hu.v2iac1.SampleApplication</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>nl.hu.v2iac1.rest.resource</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SecretServlet</servlet-name>
		<servlet-class>nl.hu.v2iac1.servlet.SecretServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopSecretServlet</servlet-name>
		<servlet-class>nl.hu.v2iac1.servlet.TopSecretServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>V2IAC1-14 Web Application</servlet-name>
		<url-pattern>rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SecretServlet</servlet-name>
		<url-pattern>checkLogin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TopSecretServlet</servlet-name>
		<url-pattern>checkLoginEmail</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>FilterForSecurity</filter-name>
		<filter-class>nl.hu.v2iac1.servlet.SecurityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FilterForSecurity</filter-name>
		<url-pattern>/rest/secret</url-pattern>
		<DISPATCHER>REQUEST</DISPATCHER>
		<DISPATCHER>RESPONSE</DISPATCHER>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FilterForSecurity</filter-name>
		<url-pattern>/rest/topsecret</url-pattern>
		<DISPATCHER>REQUEST</DISPATCHER>
		<DISPATCHER>RESPONSE</DISPATCHER>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FilterForSecurity</filter-name>
		<url-pattern>/rest/topsecret/</url-pattern>
		<DISPATCHER>REQUEST</DISPATCHER>
		<DISPATCHER>RESPONSE</DISPATCHER>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FilterForSecurity</filter-name>
		<url-pattern>/rest/secret/</url-pattern>
		<DISPATCHER>REQUEST</DISPATCHER>
		<DISPATCHER>RESPONSE</DISPATCHER>
	</filter-mapping>

</web-app>
